@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Shadows+Into+Light&display=swap');
* {
   padding: 0;
   margin: 0;
}

.body {
   font-family: 'Oswald', sans-serif;
   background-color: #8f7d7d;
}

.img {
   width: 40%;
   height: 35%;
}

.campo {
   margin: 10%;
   margin-right: auto;
   margin-left:auto;
   background-color: white;
   border-radius: 5px;
   box-shadow: 2px 3px rgb(230, 228, 228);
   color: rgb(7, 5, 5);
   height: 60%;
   width: 30%;
   padding: 3%;
   border-color: black;
   margin-bottom: 50px;
   text-align: center;
}

h1 {
   font-size: 24px;
   font-family: 'Oswald', sans-serif;
   color: rgb(44, 44, 44);
   margin-top: 4%;
}

button{
   margin-top: 5%;
   font-size: 18px;
   border: 2px solid red;
   width: 20%;
   padding: 1%;
   border-radius: 15px;
   background-color:whitesmoke;
   font-family: 'Oswald', sans-serif;
   background-color:whitesmoke;
}

button:hover{
   background-color:red;
   color:whitesmoke;
}